<div class="jumbotron">
  <h1 class="display-4">KSL News Headlines!</h1>
  <p class="lead">See the KSL Latest News</p>

</div>

<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active"  href="/new">Latest Headlines</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/all">Saved Headlines</a>
  </li>


</ul>

<div class="jumbotron">
  <h1 class="display-4">No New Headlines Today</h1>
  <hr>
  <a class="btn btn-primary btn-lg refresh" href="/new" role="button">Refresh</a>
  </div>


