<h1>Task Saver</h1>

<h3>Save the tasks you need to get to later</h3>


  {{#each new_Headlines}}
  
  	   <p>Title: {{this.title}}</p>
       <p>Summary: {{this.summary}}</p>
       <p>Link: {{this.link}}</p>
      <a> <img src="{{this.image}}"</> </a>
  	
  {{/each}}

